.myt-card-subtitle {
	--c-opacity: 0.8;
}

.myt-card-subtitle {
	display: block;
	flex: none;
	font: 0.875rem;
	font-weight: 400;
	opacity: var(--c-opacity);
	overflow: hidden;
	padding: 0 1rem;
	text-overflow: ellipsis;
	text-transform: none;
	white-space: nowrap;
}
