.myt-btn {
	--c-color: var(--myt-color-on-surface-variant);
	--c-background-color: var(--myt-color-surface-variant);
	--c-rounded: var(--myt-shape-corner-md);
}

.myt-btn {
	line-height: 0;
	align-items: center;
	display: inline-grid;
	grid-template-areas: 'prepend content append';
	grid-template-columns: max-content auto max-content;
	font-weight: 500;
	justify-content: center;
	letter-spacing: 0.0892857143em;
	line-height: normal;
	max-width: 100%;
	outline: none;
	position: relative;
	text-decoration: none;
	text-indent: 0.0892857143em;
	transition-property: box-shadow, transform, opacity, background-color, background;
	transition-duration: 0.28s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	user-select: none;
	vertical-align: middle;
	flex-shrink: 0;
	color: var(--c-color);
	background-color: var(--c-background-color);
	border-radius: var(--c-rounded);
}

.myt-btn.myt-btn--outlined {
	border: thin solid currentColor;
}
.myt-btn.myt-btn--text,
.myt-btn.myt-btn--outlined {
	background-color: transparent;
}

.myt-btn.myt-btn--icon {
	min-width: 0 !important;
	padding: 0 !important;
}

.myt-btn.myt-btn--icon.myt-btn--circle {
	border-radius: 50%;
}

.myt-btn.myt-btn--square {
	border-radius: var(--myt-shape-corner-lg);
}

.myt-btn.myt-btn--rounded {
	border-radius: var(--myt-shape-corner-pill);
}

.myt-btn.myt-btn--circle:not(.myt-btn--icon) {
	border-radius: var(--myt-shape-corner-circle);
}

.myt-btn.myt-btn--block {
	display: flex;
	flex: 1 0 auto;
	min-width: 100%;
}

.myt-btn.myt-btn--wide {
	width: 16rem;
}

.myt-btn.myt-btn--density-default:not(.myt-btn--icon) {
	height: calc(var(--c-btn-height) + 0px);
}
.myt-btn.myt-btn--density-comfortable:not(.myt-btn--icon) {
	height: calc(var(--c-btn-height) + -8px);
}
.myt-btn.myt-btn--density-compact:not(.myt-btn--icon) {
	height: calc(var(--c-btn-height) + -12px);
}

.myt-btn.myt-btn--icon.myt-btn--density-comfortable {
	width: calc(var(--c-btn-height) + 0px);
	height: calc(var(--c-btn-height) + 0px);
}
.myt-btn.myt-btn--icon.myt-btn--density-compact {
	width: calc(var(--c-btn-height) + -8px);
	height: calc(var(--c-btn-height) + -8px);
}
.myt-btn.myt-btn--icon.myt-btn--density-default {
	width: calc(var(--c-btn-height) + 12px);
	height: calc(var(--c-btn-height) + 12px);
}

.myt-btn .myt-btn--content {
	grid-area: content;
	justify-content: center;
	white-space: nowrap;
}

.myt-btn .myt-btn--prepend {
	grid-area: prepend;
	margin-inline: calc(var(--c-btn-height) / -9) calc(var(--c-btn-height) / 4.5);
}

.myt-btn .myt-btn--append {
	grid-area: append;
	margin-inline: calc(var(--c-btn-height) / 4.5) calc(var(--c-btn-height) / -9);
}

.myt-btn .myt-btn--content,
.myt-btn .myt-btn--prepend,
.myt-btn .myt-btn--append {
	align-items: center;
	display: flex;
	transition:
		transform,
		opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.myt-btn.myt-btn--icon .myt-icon {
	--c-icon-size-multiplier: 1;
}
.myt-btn .myt-icon {
	--c-icon-size-multiplier: 0.86;
}

.myt-btn:active:hover,
.myt-btn:active:focus {
	animation: button-effect 0s ease-out;
	transform: scale(0.97);
}

.myt-btn.myt-btn--active:not(.myt-btn--outlined):not(.myt-btn--text):not(.myt-btn--link) {
	background-color: color-mix(in oklab, var(--c-background-color) 85%, black);
}
.myt-btn:hover:not(.myt-btn--outlined):not(.myt-btn--text):not(.myt-btn--link) {
	background-color: color-mix(in oklab, var(--c-background-color) 90%, black);
}

.myt-btn.myt-btn--outlined.myt-btn--active,
.myt-btn.myt-btn--text.myt-btn--active {
	background-color: color-mix(in oklab, var(--c-color) 15%, transparent);
}
.myt-btn.myt-btn--outlined:hover,
.myt-btn.myt-btn--text:hover {
	background-color: color-mix(in oklab, var(--c-color) 20%, transparent);
}

.myt-btn.myt-btn--link {
	background-color: transparent;
	text-decoration-line: underline;
}

.myt-btn.myt-btn--disabled,
.myt-btn[disabled] {
	pointer-events: none;
	user-select: none;
	color: color-mix(in oklab, var(--c-color) 40%, transparent) !important;
	background-color: color-mix(in oklab, var(--c-background-color) 70%, transparent) !important;
}
.myt-btn.myt-btn--disabled.myt-btn--outlined,
.myt-btn[disabled].myt-btn--outlined {
	border-color: color-mix(in oklab, var(--c-color) 40%, transparent) !important;
}

.myt-btn.myt-btn--disabled.myt-btn--outlined,
.myt-btn[disabled].myt-btn--outlined,
.myt-btn.myt-btn--disabled.myt-btn--text,
.myt-btn[disabled].myt-btn--text,
.myt-btn.myt-btn--disabled.myt-btn--link,
.myt-btn[disabled].myt-btn--link {
	background-color: transparent;
}

.myt-btn:where(.myt-btn:is(input[type='checkbox'])),
.myt-btn:where(.myt-btn:is(input[type='radio'])) {
	width: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.myt-btn:is(input[type='checkbox']):after,
.myt-btn:is(input[type='radio']):after {
	--mytril-content: attr(aria-label);
	content: var(--mytril-content);
}
.myt-btn:is(input[type='checkbox']:checked),
.myt-btn:is(input[type='radio']:checked) {
	--c-color: var(--myt-color-on-surface);
	--c-background-color: var(--myt-color-surface-tint);
}

.myt-btn.myt-btn--info:not(.myt-btn--outlined):not(.myt-btn--text):not(.myt-btn--link) {
	--c-color: var(--myt-color-on-info);
	--c-background-color: var(--myt-color-info);
}
.myt-btn.myt-btn--info.myt-btn--outlined,
.myt-btn.myt-btn--info.myt-btn--text,
.myt-btn.myt-btn--info.myt-btn--link {
	--c-color: var(--myt-color-info);
}

.myt-btn.myt-btn--success:not(.myt-btn--outlined):not(.myt-btn--text):not(.myt-btn--link) {
	--c-color: var(--myt-color-on-success);
	--c-background-color: var(--myt-color-success);
}
.myt-btn.myt-btn--success.myt-btn--outlined,
.myt-btn.myt-btn--success.myt-btn--text,
.myt-btn.myt-btn--success.myt-btn--link {
	--c-color: var(--myt-color-success);
}

.myt-btn.myt-btn--warning:not(.myt-btn--outlined):not(.myt-btn--text):not(.myt-btn--link) {
	--c-color: var(--myt-color-on-warning);
	--c-background-color: var(--myt-color-warning);
}
.myt-btn.myt-btn--warning.myt-btn--outlined,
.myt-btn.myt-btn--warning.myt-btn--text,
.myt-btn.myt-btn--warning.myt-btn--link {
	--c-color: var(--myt-color-warning);
}

.myt-btn.myt-btn--error:not(.myt-btn--outlined):not(.myt-btn--text):not(.myt-btn--link) {
	--c-color: var(--myt-color-on-error);
	--c-background-color: var(--myt-color-error);
}
.myt-btn.myt-btn--error.myt-btn--outlined,
.myt-btn.myt-btn--error.myt-btn--text,
.myt-btn.myt-btn--error.myt-btn--link {
	--c-color: var(--myt-color-error);
}

/* @breakpoints */
.myt-btn[breakpoint]myt-btn--size-xs {
	--c-btn-size: 0.625rem;
	--c-btn-height: 20px;
	font-size: var(--c-btn-size);
	min-width: 36px;
	padding: 0 8px;
}
.myt-btn[breakpoint]myt-btn--size-sm {
	--c-btn-size: 0.75rem;
	--c-btn-height: 28px;
	font-size: var(--c-btn-size);
	min-width: 50px;
	padding: 0 12px;
}
.myt-btn[breakpoint]myt-btn--size-md {
	--c-btn-size: 0.875rem;
	--c-btn-height: 36px;
	font-size: var(--c-btn-size);
	min-width: 64px;
	padding: 0 16px;
}
.myt-btn[breakpoint]myt-btn--size-lg {
	--c-btn-size: 1rem;
	--c-btn-height: 44px;
	font-size: var(--c-btn-size);
	min-width: 78px;
	padding: 0 20px;
}
.myt-btn[breakpoint]myt-btn--size-xl {
	--c-btn-size: 1.125rem;
	--c-btn-height: 52px;
	font-size: var(--c-btn-size);
	min-width: 92px;
	padding: 0 24px;
}

.myt-btn[breakpoint]myt-btn--size-xs .myt-icon {
	font-size: calc(var(--c-icon-size-multiplier) * 1em);
}
.myt-btn[breakpoint]myt-btn--size-sm .myt-icon {
	font-size: calc(var(--c-icon-size-multiplier) * 1.25em);
}
.myt-btn[breakpoint]myt-btn--size-md .myt-icon {
	font-size: calc(var(--c-icon-size-multiplier) * 1.5em);
}
.myt-btn[breakpoint]myt-btn--size-lg .myt-icon {
	font-size: calc(var(--c-icon-size-multiplier) * 1.75em);
}
.myt-btn[breakpoint]myt-btn--size-xl .myt-icon {
	font-size: calc(var(--c-icon-size-multiplier) * 2em);
}
/*! @breakpoints */

/* @keyframes */
@keyframes button-effect {
	0% {
		transform: scale(0.98);
	}
	40% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(1);
	}
}
