.myt-grid-row {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	margin: -0.75rem;
}

.myt-grid-row.myt-grid-row--no-gutters {
	margin: 0;
}
.myt-grid-row.myt-grid--no-gutters > .myt-grid-col,
.myt-grid-row.myt-grid--no-gutters > [class*='myt-grid-col'] {
	padding: 0;
}

.myt-row .myt-grid--dense {
	margin: -0.25rem;
}
.myt-grid-row .myt-grid--dense > .myt-grid-col,
.myt-grid-row .myt-grid--dense > [class*='myt-grid-col'] {
	padding: 0.25rem;
}

.myt-grid-row + .myt-grid-row {
	margin-top: 0.75rem;
}
.myt-grid-row + .myt-grid--dense {
	margin-top: 0.25rem;
}
