.myt-menu-content {
	--c-color: var(--text-variant);
	--c-background-color: var(--surface-variant);
	--c-rounded: var(--rounded);
}

.myt-menu-content {
	inset: 0px auto auto 0px;
	margin: 0px;
	position: fixed;
	z-index: 9999;
	background: var(--c-background-color);
	color: var(--c-color);
	border-radius: var(--c-rounded);
	display: inline-block;
	width: auto;
	opacity: 1;
	transition-property: opacity, transform;
}
