.myt-row {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	margin: -0.75rem;
}

.myt-row.row-no-gutters {
	margin: 0;
}
.myt-row.row-no-gutters > .myt-col,
.myt-row.row-no-gutters > [class*='myt-col-'] {
	padding: 0;
}

.myt-row .row-dense {
	margin: -0.25rem;
}
.myt-row .row-dense > .myt-col,
.myt-row .row-dense > [class*='myt-col-'] {
	padding: 0.25rem;
}

.myt-row + .myt-row {
	margin-top: 0.75rem;
}
.myt-row + .row-dense {
	margin-top: 0.25rem;
}
