.myt-expansion-panels {
	--c-color: var(--text);
	--c-background-color: var(--surface-container);
	--c-rounded: var(--rounded);
}

.myt-expansion-panels {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	width: 100%;
	position: relative;
	z-index: 1;
}

.myt-expansion-panels .myt-expansion-panel {
	border-radius: var(--c-rounded);
	color: var(--c-color);
	background-color: var(--c-background-color);
}

.myt-expansion-panels .myt-expansion-panel {
	border-radius: var(--c-rounded);
	color: var(--c-color);
	background-color: var(--c-background-color);
}

.myt-expansion-panels:not(.myt-expansion-panels--expansion):not(.myt-expansion-panels--spacer)
	.myt-expansion-panel:first-child:not(:last-child),
.myt-expansion-panels.myt-expansion-panels--expansion
	.myt-expansion-panel:first-child:not(:last-child):not(.myt-expansion-panel--active) {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.myt-expansion-panels:not(.myt-expansion-panels--expansion):not(.myt-expansion-panels--spacer)
	.myt-expansion-panel:not(:first-child):not(:last-child),
.myt-expansion-panels.myt-expansion-panels--expansion
	.myt-expansion-panel:not(:first-child):not(:last-child):not(.myt-expansion-panel--active) {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.myt-expansion-panels:not(.myt-expansion-panels--expansion):not(.myt-expansion-panels--spacer)
	.myt-expansion-panel:last-child:not(:first-child),
.myt-expansion-panels.myt-expansion-panels--expansion
	.myt-expansion-panel:last-child:not(:first-child):not(.myt-expansion-panel--active) {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.myt-expansion-panels.myt-expansion-panels--expansion
	.myt-expansion-panel:first-child.myt-expansion-panel--active {
	margin-bottom: 16px;
}

.myt-expansion-panels.myt-expansion-panels--expansion
	.myt-expansion-panel:not(:first-child):not(:last-child).myt-expansion-panel--active {
	margin-bottom: 16px;
	margin-top: 16px;
}

.myt-expansion-panels.myt-expansion-panels--expansion
	.myt-expansion-panel:last-child.myt-expansion-panel--active {
	margin-top: 16px;
}

.myt-expansion-panels.myt-expansion-panels--spacer .myt-expansion-panel:not(:last-child) {
	margin-bottom: 16px;
}

.myt-expansion-panels.myt-expansion-panels--hide-icon
	.myt-expansion-panel
	.myt-expansion-panel--title
	> .myt-expansion-panel--icon {
	display: none !important;
}

.myt-expansion-panels.myt-expansion-panels--readonly
	.myt-expansion-panel
	.myt-expansion-panel--title {
	cursor: default;
	pointer-events: none;
	user-select: none;
}
