.myt-list-item-subtitle {
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0.0178571429em;
	line-height: 1rem;
	text-transform: none;
}

.myt-list-item-subtitle {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	opacity: 0.7;
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
	overflow-wrap: break-word;
	word-break: initial;
}
