.preview-code {
	margin: 28px 0;
	overflow: hidden;
	position: relative;
	transition: background-color 0.5s;
}

.code-wrapper,
.code-wrapper > div {
	display: grid;
	width: 100%;
}

.code-wrapper code[class*='language-'],
code[class*='language-'],
pre[class*='language-'] {
	background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
	background: initial;
	direction: ltr;
}

code[class*='language-'],
pre[class*='language-'] {
	text-align: left;
	white-space: pre;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	background: #2f2f2f;
	color: #eee;
	font-family:
		Roboto Mono,
		monospace;
	font-size: 1rem;
	-webkit-hyphens: none;
	hyphens: none;
	line-height: 1.5em;
	tab-size: 4;
}

pre[class*='language-'] {
	background-color: #2b3440 !important;
	color: #eee;
	margin: 0.5em 0;
	overflow: auto;
	padding: 1.25em 1em;
	position: relative;
}

.token.punctuation,
.token.operator {
	color: #89ddff;
}

.token.comment {
	color: #616161;
}

.token.property {
	color: #80cbc4;
}

.token.function,
.token.boolean,
.token.atrule {
	color: #c792ea;
}

.token.tag,
.token.keyword,
.token.selector {
	color: #f66;
}

.token.attr-name {
	color: #ffcb6b;
}

.token.attr-value,
.token.attribute {
	color: #a5e844;
}
