.myt-btn {
	--spacing: 0.25rem;
	--btn-spacing: 0.25rem;
	--border-size: thin;
	--color: var(--myt-btn-c);
	--background-color: var(--myt-btn-bg);
	--border-color: var(--background-color);

	--myt-reference-color-mix: transparent;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	border-radius: var(--radius-md);
	line-height: 1.25rem;
	padding-top: var(--btn-spacing-x);
	padding-bottom: var(--btn-spacing-x);
	padding-right: var(--btn-spacing-y);
	padding-left: var(--btn-spacing-y);
	background-color: var(--background-color);
	color: var(--color);
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}

.myt-btn:not(.myt-btn--disabled),
.myt-btn:not([disabled]) {
	cursor: pointer;
}

.myt-btn:active:hover,
.myt-btn:active:focus {
	animation: button-effect 0s ease-out;
	transform: scale(0.97);
}

.myt-btn.myt-btn--block {
	display: flex;
	flex: 1 0 auto;
	min-width: 100%;
}

.myt-btn.myt-btn--wide {
	width: 16rem;
}

.myt-btn:not(.myt-btn--variant-link) {
	text-decoration: none;
}

.myt-btn.myt-btn--disabled,
.myt-btn[disabled] {
	pointer-events: none;
	user-select: none;
	cursor: default;
}

.myt-btn.myt-btn--disabled:not([class*='--variant-']),
.myt-btn[disabled]:not([class*='--variant-']) {
	color: color-mix(in oklab, var(--color) 40%, var(--myt-reference-color-mix)) !important;
	background-color: color-mix(
		in oklab,
		var(--background-color) 70%,
		var(--myt-reference-color-mix)
	) !important;
}
.myt-btn.myt-btn--disabled:not([class*='--variant-']) .myt-icon,
.myt-btn[disabled]:not([class*='--variant-']) .myt-icon,
.myt-btn.myt-btn--disabled:not([class*='--variant-']) svg,
.myt-btn[disabled]:not([class*='--variant-']) svg {
	--color: color-mix(in oklab, var(--color) 40%, var(--myt-reference-color-mix)) !important;
}

/** Button Variants */
/** Default */
.myt-btn.myt-btn--active:not([class*='--variant-']),
.myt-btn:not([class*='--variant-']):where(input:checked) {
	background-color: color-mix(in oklab, var(--background-color) 85%, black);
}

.myt-btn:hover:not([class*='--variant-']) {
	background-color: color-mix(in oklab, var(--background-color) 90%, black);
}

/** Outline */
.myt-btn.myt-btn--variant-outline {
	background-color: transparent;
	border: 1px solid currentColor;
}

.myt-btn.myt-btn--variant-outline.myt-btn--disabled,
.myt-btn.myt-btn--variant-outline[disabled] {
	color: color-mix(in oklab, var(--color) 40%, var(--myt-reference-color-mix)) !important;
	border-color: color-mix(in oklab, var(--color) 70%, var(--myt-reference-color-mix)) !important;
}
.myt-btn.myt-btn--variant-outline.myt-btn--disabled .myt-icon,
.myt-btn.myt-btn--variant-outline[disabled] .myt-icon,
.myt-btn.myt-btn--variant-outline.myt-btn--disabled svg,
.myt-btn.myt-btn--variant-outline[disabled] svg {
	--color: color-mix(in oklab, var(--color) 40%, var(--myt-reference-color-mix)) !important;
}

.myt-btn.myt-btn--variant-outline.myt-btn--active,
.myt-btn.myt-btn--variant-outline:where(input:checked) {
	background-color: color-mix(in oklab, currentColor 15%, var(--myt-reference-color-mix));
}

.myt-btn.myt-btn--variant-outline:hover {
	background-color: color-mix(in oklab, currentColor 20%, var(--myt-reference-color-mix));
}

/** Text */
.myt-btn.myt-btn--variant-text {
	background-color: transparent;
}

.myt-btn.myt-btn--variant-text.myt-btn--disabled,
.myt-btn.myt-btn--variant-text[disabled] {
	color: color-mix(in oklab, var(--color) 40%, var(--myt-reference-color-mix)) !important;
}
.myt-btn.myt-btn--variant-text.myt-btn--disabled .myt-icon,
.myt-btn.myt-btn--variant-text[disabled] .myt-icon,
.myt-btn.myt-btn--variant-text.myt-btn--disabled svg,
.myt-btn.myt-btn--variant-text[disabled] svg {
	--color: color-mix(in oklab, var(--color) 40%, var(--myt-reference-color-mix)) !important;
}

.myt-btn.myt-btn--variant-text.myt-btn--active,
.myt-btn.myt-btn--variant-text:where(input:checked) {
	background-color: color-mix(in oklab, currentColor 15%, var(--myt-reference-color-mix));
}

.myt-btn.myt-btn--variant-text:hover {
	background-color: color-mix(in oklab, currentColor 20%, var(--myt-reference-color-mix));
}

/** Dash */
.myt-btn.myt-btn--variant-dash {
	background-color: transparent;
	border: 1px dashed currentColor;
}

.myt-btn.myt-btn--variant-dash.myt-btn--disabled,
.myt-btn.myt-btn--variant-dash[disabled] {
	color: color-mix(in oklab, var(--color) 40%, var(--myt-reference-color-mix)) !important;
	border-color: color-mix(in oklab, var(--color) 70%, var(--myt-reference-color-mix)) !important;
}
.myt-btn.myt-btn--variant-dash.myt-btn--disabled .myt-icon,
.myt-btn.myt-btn--variant-dash[disabled] .myt-icon,
.myt-btn.myt-btn--variant-dash.myt-btn--disabled svg,
.myt-btn.myt-btn--variant-dash[disabled] svg {
	--color: color-mix(in oklab, var(--color) 40%, var(--myt-reference-color-mix)) !important;
}

.myt-btn.myt-btn--variant-dash.myt-btn--active,
.myt-btn.myt-btn--variant-dash:where(input:checked) {
	background-color: color-mix(in oklab, currentColor 15%, var(--myt-reference-color-mix));
}

.myt-btn.myt-btn--variant-dash:hover {
	background-color: color-mix(in oklab, currentColor 20%, var(--myt-reference-color-mix));
}

/** Link */
.myt-btn.myt-btn--variant-link {
	background-color: transparent;
}

.myt-btn.myt-btn--variant-link.myt-btn--disabled,
.myt-btn.myt-btn--variant-link[disabled] {
	color: color-mix(in oklab, var(--color) 40%, var(--myt-reference-color-mix)) !important;
}
.myt-btn.myt-btn--variant-link.myt-btn--disabled .myt-icon,
.myt-btn.myt-btn--variant-link[disabled] .myt-icon,
.myt-btn.myt-btn--variant-link.myt-btn--disabled svg,
.myt-btn.myt-btn--variant-link[disabled] svg {
	--color: color-mix(in oklab, var(--color) 40%, var(--myt-reference-color-mix)) !important;
}

.myt-btn.myt-btn--variant-link.myt-btn--active,
.myt-btn.myt-btn--variant-link:hover,
.myt-btn.myt-btn--variant-link:where(input:checked) {
	text-decoration: underline;
}

/** Types */
.myt-btn:where(.myt-btn:is(input[type='checkbox'])),
.myt-btn:where(.myt-btn:is(input[type='radio'])) {
	width: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.myt-btn:is(input[type='checkbox']):after,
.myt-btn:is(input[type='radio']):after {
	--btn-content: attr(aria-label);
	content: var(--btn-content);
}

/** Density */
.myt-btn--compact:not(.myt-btn--icon) {
	height: calc(var(--btn-height) - 0.25rem);
	--btn-spacing-x: 0;
	--btn-spacing-y: calc(var(--spacing) * var(--btn-multiplier-y) - 0.25rem);
}
.myt-btn--compact.myt-btn--icon {
	height: calc(var(--btn-height) - 0.25rem);
	width: calc(var(--btn-height) - 0.25rem);
	--btn-spacing-x: 0;
	--btn-spacing-y: 0;
}

.myt-btn--default:not(.myt-btn--icon) {
	height: calc(var(--btn-height));
	--btn-spacing-x: 0;
	--btn-spacing-y: calc(var(--spacing) * var(--btn-multiplier-y));
}
.myt-btn--default.myt-btn--icon {
	height: calc(var(--btn-height));
	width: calc(var(--btn-height));
	--btn-spacing-x: 0;
	--btn-spacing-y: 0;
}

.myt-btn--comfortable:not(.myt-btn--icon) {
	height: calc(var(--btn-height) + 0.25rem);
	--btn-spacing-x: 0;
	--btn-spacing-y: calc(var(--spacing) * var(--btn-multiplier-y) + 0.25rem);
}
.myt-btn--comfortable.myt-btn--icon {
	height: calc(var(--btn-height) + 0.25rem);
	width: calc(var(--btn-height) + 0.25rem);
	--btn-spacing-x: 0;
	--btn-spacing-y: 0;
}

/** Icon */
.myt-btn svg,
.myt-btn img {
	width: calc(var(--icon-size-multiplier) * var(--icon-size));
	height: calc(var(--icon-size-multiplier) * var(--icon-size));
}

.myt-btn:not(.myt-btn--icon).myt-btn--circle {
	border-radius: var(--radius-pill);
}
.myt-btn.myt-btn--icon.myt-btn--circle {
	border-radius: var(--radius-circle);
}

.myt-btn.myt-btn--square {
	border-radius: var(--radius-lg);
}

/* @breakpoints */
/** Sizes */
.myt-btn[breakpoint]myt-btn--size-xs {
	--btn-height: 1.75rem;
	--btn-multiplier-y: 2;
	font-size: 0.75rem;
	gap: 0.25rem;
}

.myt-btn[breakpoint]myt-btn--size-xs,
.myt-btn[breakpoint]myt-btn--size-xs .myt-icon {
	--icon-size-multiplier: 0.875;
}

.myt-btn[breakpoint]myt-btn--size-sm {
	--btn-height: 2rem;
	--btn-multiplier-y: 3;
	font-size: 0.875rem;
	gap: 0.5rem;
}

.myt-btn[breakpoint]myt-btn--size-sm,
.myt-btn[breakpoint]myt-btn--size-sm .myt-icon {
	--icon-size-multiplier: 1;
}

.myt-btn[breakpoint]myt-btn--size-md {
	--btn-height: 2.25rem;
	--btn-multiplier-y: 4;
	font-size: 0.875rem;
	gap: 0.5rem;
}

.myt-btn[breakpoint]myt-btn--size-md,
.myt-btn[breakpoint]myt-btn--size-md .myt-icon {
	--icon-size-multiplier: 1.125;
}

.myt-btn[breakpoint]myt-btn--size-lg {
	--btn-height: 2.5rem;
	--btn-multiplier-y: 5;
	font-size: 1rem;
	gap: 0.5rem;
}

.myt-btn[breakpoint]myt-btn--size-lg,
.myt-btn[breakpoint]myt-btn--size-lg .myt-icon {
	--icon-size-multiplier: 1.25;
}

.myt-btn[breakpoint]myt-btn--size-xl {
	--btn-height: 2.75rem;
	--btn-multiplier-y: 6;
	font-size: 1.125rem;
	gap: 0.675rem;
}

.myt-btn[breakpoint]myt-btn--size-xl,
.myt-btn[breakpoint]myt-btn--size-xl .myt-icon {
	--icon-size-multiplier: 1.5;
}

/*! @breakpoints */
.myt-btn.myt-btn--info:not([class*='--variant-']) {
	--color: var(--color-on-info);
	--background-color: var(--color-info);
}
.myt-btn.myt-btn--info.myt-btn--variant-outline,
.myt-btn.myt-btn--info.myt-btn--variant-text,
.myt-btn.myt-btn--info.myt-btn--variant-dash,
.myt-btn.myt-btn--info.myt-btn--variant-link {
	--color: var(--color-info);
}

.myt-btn.myt-btn--success:not([class*='--variant-']) {
	--color: var(--color-on-success);
	--background-color: var(--color-success);
}
.myt-btn.myt-btn--success.myt-btn--variant-outline,
.myt-btn.myt-btn--success.myt-btn--variant-text,
.myt-btn.myt-btn--success.myt-btn--variant-dash,
.myt-btn.myt-btn--success.myt-btn--variant-link {
	--color: var(--color-success);
}

.myt-btn.myt-btn--error:not([class*='--variant-']) {
	--color: var(--color-on-error);
	--background-color: var(--color-error);
}
.myt-btn.myt-btn--error.myt-btn--variant-outline,
.myt-btn.myt-btn--error.myt-btn--variant-text,
.myt-btn.myt-btn--error.myt-btn--variant-dash,
.myt-btn.myt-btn--error.myt-btn--variant-link {
	--color: var(--color-error);
}

.myt-btn.myt-btn--warning:not([class*='--variant-']) {
	--color: var(--color-on-warning);
	--background-color: var(--color-warning);
}
.myt-btn.myt-btn--warning.myt-btn--variant-outline,
.myt-btn.myt-btn--warning.myt-btn--variant-text,
.myt-btn.myt-btn--warning.myt-btn--variant-dash,
.myt-btn.myt-btn--warning.myt-btn--variant-link {
	--color: var(--color-warning);
}
/*! @breakpoints */

/* @keyframes */
@keyframes button-effect {
	0% {
		transform: scale(0.98);
	}
	40% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(1);
	}
}
