/*! all css to apply in composables and composants mytril */

.no-scroll {
	overflow: hidden !important;
}

.fill-height {
	height: 100% !important;
}
/* Base
   ========================================================================== */

html {
	font-family: var(--body);
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading);
}

button,
input,
optgroup,
select,
textarea {
	font: inherit;
}

button {
	overflow: visible;
}

button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
	cursor: pointer;
	color: inherit;
}
button,
input,
select,
textarea {
	background-color: transparent;
	border-style: none;
}

button,
select {
	text-transform: none;
}

/* Code
   ========================================================================== */
.code .preview-code {
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid var(--divider);
	position: relative;
	border-radius: 8px;
}

.code .code-wrapper {
	width: 100%;
	display: grid;
}
