.myt-grid {
	width: 100%;
	padding: 1rem;
	margin-right: auto;
	margin-left: auto;
}

.myt-grid.fill-height {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.myt-grid.myt-grid--fluid {
	max-width: 100%;
}

.myt-grid-row {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	margin: -0.75rem;
}

.myt-grid-row.myt-grid-row--no-gutters {
	margin: 0;
}
.myt-grid-row.myt-grid--no-gutters > .myt-grid-col,
.myt-grid-row.myt-grid--no-gutters > [class*='myt-grid-col'] {
	padding: 0;
}

.myt-row .myt-grid--dense {
	margin: -0.25rem;
}
.myt-grid-row .myt-grid--dense > .myt-grid-col,
.myt-grid-row .myt-grid--dense > [class*='myt-grid-col'] {
	padding: 0.25rem;
}

.myt-grid-row + .myt-grid-row {
	margin-top: 0.75rem;
}
.myt-grid-row + .myt-grid--dense {
	margin-top: 0.25rem;
}

.myt-grid-col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}

.myt-grid-col {
	width: 100%;
	padding: 0.75rem;
}

.myt-grid-col.col-auto {
	width: 100%;
}

/* @breakpoints */
.myt-grid-col[breakpoint]col-auto {
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
}
.myt-grid-col[breakpoint]col-1 {
	flex: 0 0 calc((100% / 12) * 1);
	max-width: calc((100% / 12) * 1);
}
.myt-grid-col[breakpoint]col-2 {
	flex: 0 0 calc((100% / 12) * 2);
	max-width: calc((100% / 12) * 2);
}
.myt-grid-col[breakpoint]col-3 {
	flex: 0 0 calc((100% / 12) * 3);
	max-width: calc((100% / 12) * 3);
}
.myt-grid-col[breakpoint]col-4 {
	flex: 0 0 calc((100% / 12) * 4);
	max-width: calc((100% / 12) * 4);
}
.myt-grid-col[breakpoint]col-5 {
	flex: 0 0 calc((100% / 12) * 5);
	max-width: calc((100% / 12) * 5);
}
.myt-grid-col[breakpoint]col-6 {
	flex: 0 0 calc((100% / 12) * 6);
	max-width: calc((100% / 12) * 6);
}
.myt-grid-col[breakpoint]col-7 {
	flex: 0 0 calc((100% / 12) * 7);
	max-width: calc((100% / 12) * 7);
}
.myt-grid-col[breakpoint]col-8 {
	flex: 0 0 calc((100% / 12) * 8);
	max-width: calc((100% / 12) * 8);
}
.myt-grid-col[breakpoint]col-9 {
	flex: 0 0 calc((100% / 12) * 9);
	max-width: calc((100% / 12) * 9);
}
.myt-grid-col[breakpoint]col-10 {
	flex: 0 0 calc((100% / 12) * 10);
	max-width: calc((100% / 12) * 10);
}
.myt-grid-col[breakpoint]col-11 {
	flex: 0 0 calc((100% / 12) * 11);
	max-width: calc((100% / 12) * 11);
}
.myt-grid-col[breakpoint]col-12 {
	flex: 0 0 calc((100% / 12) * 12);
	max-width: calc((100% / 12) * 12);
}
.myt-grid-col[breakpoint]offset-0 {
	margin-inline-start: calc((100% / 12) * 0);
}
.myt-grid-col[breakpoint]offset-1 {
	margin-inline-start: calc((100% / 12) * 1);
}
.myt-grid-col[breakpoint]offset-2 {
	margin-inline-start: calc((100% / 12) * 2);
}
.myt-grid-col[breakpoint]offset-3 {
	margin-inline-start: calc((100% / 12) * 3);
}
.myt-grid-col[breakpoint]offset-4 {
	margin-inline-start: calc((100% / 12) * 4);
}
.myt-grid-col[breakpoint]offset-5 {
	margin-inline-start: calc((100% / 12) * 5);
}
.myt-grid-col[breakpoint]offset-6 {
	margin-inline-start: calc((100% / 12) * 6);
}
.myt-grid-col[breakpoint]offset-7 {
	margin-inline-start: calc((100% / 12) * 7);
}
.myt-grid-col[breakpoint]offset-8 {
	margin-inline-start: calc((100% / 12) * 8);
}
.myt-grid-col[breakpoint]offset-9 {
	margin-inline-start: calc((100% / 12) * 9);
}
.myt-grid-col[breakpoint]offset-10 {
	margin-inline-start: calc((100% / 12) * 10);
}
.myt-grid-col[breakpoint]offset-11 {
	margin-inline-start: calc((100% / 12) * 11);
}
.myt-grid-col[breakpoint]offset-12 {
	margin-inline-start: calc((100% / 12) * 12);
}
.myt-grid-col[breakpoint]order-first {
	order: -1 !important;
}
.myt-grid-col[breakpoint]order-last {
	order: 13 !important;
}
.myt-grid-col[breakpoint]order-1 {
	order: 1;
}
.myt-grid-col[breakpoint]order-2 {
	order: 2;
}
.myt-grid-col[breakpoint]order-3 {
	order: 3;
}
.myt-grid-col[breakpoint]order-4 {
	order: 4;
}
.myt-grid-col[breakpoint]order-5 {
	order: 5;
}
.myt-grid-col[breakpoint]order-6 {
	order: 6;
}
.myt-grid-col[breakpoint]order-7 {
	order: 7;
}
.myt-grid-col[breakpoint]order-8 {
	order: 8;
}
.myt-grid-col[breakpoint]order-9 {
	order: 9;
}
.myt-grid-col[breakpoint]order-10 {
	order: 10;
}
.myt-grid-col[breakpoint]order-11 {
	order: 11;
}
.myt-grid-col[breakpoint]order-12 {
	order: 12;
}
/*! @breakpoints */
