:root {
	/* used on btn and icon compontents */
	--icon-size: 1rem;
}

.myt-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: color 0.5s;
	-webkit-user-select: none;
	user-select: none;
	text-indent: 0;
}

.myt-icon:not([class*='icon--size']) {
	--icon-size-multiplier: 1;
}

.myt-icon:before {
	font-size: calc(var(--icon-size-multiplier) * var(--icon-size));
	color: var(--color);
}

.myt-icon svg,
.myt-icon img {
	width: calc(var(--icon-size-multiplier) * var(--icon-size));
	height: calc(var(--icon-size-multiplier) * var(--icon-size));
}

.myt-icon svg {
	color: var(--color);
}

.myt-icon.myt-icon--disabled {
	pointer-events: none;
	opacity: 0.38;
}

/* @breakpoints */
.myt-icon[breakpoint]myt-icon--size-xs {
	--icon-size-multiplier: 0.875 !important;
}

.myt-icon[breakpoint]myt-icon--size-sm {
	--icon-size-multiplier: 1 !important;
}

.myt-icon[breakpoint]myt-icon--size-md {
	--icon-size-multiplier: 1.125 !important;
}

.myt-icon[breakpoint]myt-icon--size-lg {
	--icon-size-multiplier: 1.25 !important;
}

.myt-icon[breakpoint]myt-icon--size-xl {
	--icon-size-multiplier: 1.5 !important;
}
/*! @breakpoints */
