.myt-icon {
	--icon-size-multiplier: var(--myt-icon-size);
	--c: var(--myt-icon-c);

	align-items: center;
	display: inline-flex;
	height: 1em;
	justify-content: center;
	letter-spacing: normal;
	line-height: 1;
	position: relative;
	text-indent: 0;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
	width: 1em;
	min-width: 1em;
	color: var(--c);
	transition: color 0.5s;
}

.myt-icon > svg,
.myt-icon > img {
	fill: currentColor;
	width: 100%;
	height: 100%;
}

.myt-icon:before {
	color: currentColor;
}

.myt-icon.myt-icon--start {
	margin-inline-end: 0.5rem;
}

.myt-icon.myt-icon--end {
	margin-inline-start: 0.5rem;
}

.myt-icon.myt-icon--disabled {
	pointer-events: none;
	opacity: 0.38;
}

/* @breakpoints */
.myt-icon[breakpoint]myt-icon--size-xs {
	font-size: calc(var(--icon-size-multiplier) * 1em);
}

.myt-icon[breakpoint]myt-icon--size-sm {
	font-size: calc(var(--icon-size-multiplier) * 1.25em);
}

.myt-icon[breakpoint]myt-icon--size-md {
	font-size: calc(var(--icon-size-multiplier) * 1.5em);
}

.myt-icon[breakpoint]myt-icon--size-lg {
	font-size: calc(var(--icon-size-multiplier) * 1.75em);
}

.myt-icon[breakpoint]myt-icon--size-xl {
	font-size: calc(var(--icon-size-multiplier) * 2em);
}
/*! @breakpoints */
