/*! prose.css to apply in prose, code and article with mytril */

/* Variables
   ========================================================================== */
.prose {
	--code--operator: #89ddff;
	--code--punctuation: #89ddff;
	--code--comment: #616161;
	--code--property: #80cbc4;
	--code--function: #c792ea;
	--code--boolean: #c792ea;
	--code--atrule: #c792ea;
	--code--tag: #f66;
	--code--keyword: #f66;
	--code--selector: #f66;
	--code--attr-name: #ffcb6b;
	--code--attr-value: #a5e844;
	--code--attribute: #a5e844;
}

/* Code
   ========================================================================== */

.prose .code pre {
	overflow: auto;
	position: relative;
	margin: 0;
}

.prose .code pre code {
	border-radius: 0;
	padding: 0;
}

.prose .code code[class*='language-'],
.prose .code pre[class*='language-'] {
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	color: var(--text);
	background-color: var(--bg-mute);
	font-family: var(--code);
	line-height: var(--code-line-height);
	font-size: var(--text-sm);
	line-height: 1.5em;
	tab-size: 4;
	hyphens: none;
	transition: background-color 0.5s;
}

.prose .code pre[class*='language-'] {
	overflow: auto;
	position: relative;
	margin: 0.5em 0;
	padding: 1.25em 1em;
}

.prose .code code[class*='language-'],
.prose .code .code-wrapper code[class*='language-'],
.prose .code code[class*='language-'],
.prose .code pre[class*='language-'] {
	background: unset;
	direction: ltr;
}

.prose .code .token.punctuation {
	color: var(--code--punctuation);
}
.prose .code .token.operator {
	color: var(--code--operator);
}
.prose .code .token.comment {
	color: var(--code--comment);
}
.prose .code .token.property {
	color: var(--code--property);
}
.prose .code .token.function {
	color: var(--code--function);
}
.prose .code .token.boolean {
	color: var(--code--boolean);
}
.prose .code .token.atrule {
	color: var(--code--atrule);
}
.prose .code .token.tag {
	color: var(--code--tag);
}
.prose .code .token.keyword {
	color: var(--code--keyword);
}
.prose .code .token.selector {
	color: var(--code--keyword);
}
.prose .code .token.attr-name {
	color: var(--code--attr-name);
}
.prose .code .token.attr-value {
	color: var(--code--attr-value);
}
.prose .code .token.attribute {
	color: var(--code--attribute);
}

/* Markdown / article
   ========================================================================== */

.prose :first-child {
	margin-top: 0;
}

/* .prose h1 {
	font-size: var(--text-4xl);
	font-weight: 600;
	margin-bottom: 24px;
}

.prose h2 {
	font-size: var(--text-2xl);
	margin: 20px 0 8px;
	font-weight: 500;
	line-height: 32px;
}

.prose h3 {
	font-size: var(--text-xl);
	font-weight: 600;
	line-height: 24px;
	margin: 20px 0 8px;
}

.prose h4 {
	font-size: var(--text-lg);
	font-weight: 600;
	line-height: 24px;
	margin: 20px 0 8px;
}

.prose h6 {
	font-size: var(--text-lg);
	font-weight: 600;
	height: 36px;
	margin: 20px 0 8px;
} */

/* .prose p {
	margin: 18px 0;
	display: block;
	line-height: 1.5;
} */

.prose code {
	display: inline-block;
	padding: 3px 5px 4px;
	border-radius: var(--rounded-sm);
	font-family: var(--f-code);
	font-size: var(--text-sm);
	background-color: var(--bg-mute);
}

.prose pre {
	margin: 0;
	padding: 3px 5px 4px;
	border-radius: var(--rounded-sm);
	font-size: var(--text-xm);
}

.prose a {
	color: var(--c-primary);
	cursor: pointer;
	transition: color 0.1s;
	text-decoration: none;
}

.prose a:hover {
	text-decoration: underline;
}

.prose ul,
.prose ol {
	margin: 0 0 12px;
	padding: 0;
}
.prose ul.contains-task-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.prose ul.contains-task-list li.task-list-item {
	list-style-type: none;
	margin: 0;
	display: flex;
	align-items: center;
	margin: 5px 0 0 16px;
	font-size: var(--text-md);
	font-weight: 500;
	line-height: 24px;
}

.prose ul.contains-task-list li.task-list-item input {
	margin: 0;
	padding: 0;
	margin-right: 6px;
}

.prose ol li {
	list-style-type: decimal;
	margin-left: 20px;
	list-style-position: inside;
	margin: 5px 0 0 16px;
	font-size: var(--text-md);
	font-weight: 500;
	line-height: 24px;
}

.prose ul li {
	list-style-type: disc;
	margin: 8px 0 0 20px;
	list-style-position: inside;
	font-size: var(--text-md);
	font-weight: 500;
	line-height: 24px;
}

.prose strong {
	font-weight: 700;
}

.prose blockquote {
	border-radius: var(--rounded-lg);
	padding: 10px;
	margin: 20px 0;
	border: 1px solid black;
}

.prose blockquote p:last-child {
	margin-bottom: 0;
}

.prose .table {
	border: 1px solid var(--c-divider);
	border-radius: var(--rounded-lg);
	margin-bottom: 2rem;
	overflow: hidden;
	position: relative;
}

.prose .table-wrapper {
	display: grid;
	width: 100%;
	max-height: 450px;
	overflow: auto;
}

.prose table {
	overflow: auto;
	border-spacing: 0;
}

.prose thead th {
	text-align: start;
	border-bottom: 1px solid var(--c-divider);
	padding: 5px;
}

.prose tbody {
	width: 100%;
}

.prose tbody tr td {
	padding: 5px;
}

.prose tbody tr:not(:last-child) td {
	border-bottom: 1px solid var(--c-divider);
}
