.myt-toolbar {
	--toolbar-spacing: 0.25rem;
	--border-size: thin;
	--color: var(--myt-toolbar-c);
	--background-color: var(--myt-toolbar-bg);
	--border-color: var(--background-color);

	display: flex;
	align-items: center;
	min-width: max-content;
	background-color: var(--background-color);
	border-color: var(--border-color);
	border-width: var(--border-size);
	border-style: solid;
	transition:
		color 0.5s,
		border-color 0.5s,
		background-color 0.5s;
}

.myt-toolbar.myt-toolbar--default {
	border-radius: calc(var(--toolbar-spacing) * 2.25);
	height: 3rem;
	padding-inline: calc(var(--toolbar-spacing) * 1.5);
}

.myt-toolbar.myt-toolbar--compact {
	border-radius: calc(var(--toolbar-spacing) * 1.75);
	height: 2.625rem;
	padding-inline: calc(var(--toolbar-spacing) * 0.75);
}

.myt-toolbar.myt-toolbar--comfortable {
	border-radius: calc(var(--toolbar-spacing) * 3.5);
	height: 3.5rem;
	padding-inline: calc(var(--toolbar-spacing) * 2.25);
}

.myt-toolbar.myt-toolbar--text,
.myt-toolbar.myt-toolbar--outline,
.myt-toolbar.myt-toolbar--dash {
	background-color: transparent;
}

.myt-toolbar.myt-toolbar--outline {
	border-color: currentColor;
}

.myt-toolbar.myt-toolbar--dash {
	border-style: dashed;
	border-color: currentColor;
}

.myt-toolbar.myt-toolbar--horizontal {
	flex-direction: row;
}

.myt-toolbar.myt-toolbar--vertical {
	flex-direction: column;
}
