.myt-card {
	--color: var(--myt-color-on-surface);
	--background: var(--myt-color-surface-container);
}

.myt-card {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: var(--myt-shape-corner-md);
	border-color: transparent;
	border-width: 1px;
	border-style: solid;
	text-align: start;
	color: var(--color);
	background-color: var(--background);
	overflow: hidden;
}

a.myt-card {
	text-decoration: none;
}

.myt-card:hover:not(div) {
	background-color: color-mix(in oklab, var(--background) 90%, black);
}

.myt-card:focus:not(div) {
	background-color: color-mix(in oklab, var(--background) 95%, black);
}

.myt-card:active:not(div),
.myt-card.myt-card--active {
	background-color: color-mix(in oklab, var(--background) 95%, black);
}

.myt-card:not(div) {
	cursor: pointer;
}

.myt-card.myt-card--outline {
	border-color: currentColor;
}

.myt-card.myt-card--outline,
.myt-card.myt-card--text {
	background-color: transparent;
}

.myt-card.myt-card--outline:hover:not(div),
.myt-card.myt-card--text:hover:not(div) {
	background-color: color-mix(in oklab, currentColor 7%, transparent);
}

.myt-card.myt-card--outline:focus:not(div),
.myt-card.myt-card--text:focus:not(div) {
	background-color: color-mix(in oklab, currentColor 15%, transparent);
}

.myt-card.myt-card--outline:active:not(div),
.myt-card.myt-card--text:active:not(div),
.myt-card.myt-card--outline.myt-card--active,
.myt-card.myt-card--text.myt-card--active {
	background-color: color-mix(in oklab, currentColor 10%, transparent);
}

.myt-card.myt-card--disabled,
.myt-card[disabled],
.myt-card:disabled {
	pointer-events: none;
	user-select: none;
}
.myt-card.myt-card--disabled > *,
.myt-card[disabled] > *,
.myt-card:disabled > * {
	opacity: 0.6;
}

.myt-card .myt-card-title {
	line-height: 1.6;
}

.myt-card .myt-card-subtitle {
	line-height: 1.425;
}

.myt-card .myt-card-text {
	line-height: 1.425;
}
