.myt-card {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: var(--rounded-lg);
	border-color: transparent;
	border-width: 1px;
	border-style: solid;
	text-align: start;
	color: var(--text);
	background-color: var(--surface-container);
	overflow: hidden;
}

a.myt-card {
	text-decoration: none;
}

.myt-card:hover:not(div) {
	background-color: color-mix(in oklab, var(--surface-container) 90%, black);
}

.myt-card:focus:not(div) {
	background-color: color-mix(in oklab, var(--surface-container) 95%, black);
}

.myt-card:active:not(div),
.myt-card.myt-card--active {
	background-color: color-mix(in oklab, var(--surface-container) 95%, black);
}

.myt-card:not(div) {
	cursor: pointer;
}

.myt-card.myt-card--outline {
	border-color: var(--outline);
}

.myt-card.myt-card--outline,
.myt-card.myt-card--text {
	background-color: transparent;
}

.myt-card.myt-card--outline:hover:not(div),
.myt-card.myt-card--text:hover:not(div) {
	background-color: color-mix(in oklab, var(--text) 20%, transparent);
}

.myt-card.myt-card--outline:focus:not(div),
.myt-card.myt-card--text:focus:not(div) {
	background-color: color-mix(in oklab, var(--text) 25%, transparent);
}

.myt-card.myt-card--outline:active:not(div),
.myt-card.myt-card--outline.card-active,
.myt-card.myt-card--text:active:not(div),
.myt-card.myt-card--text.card-active {
	background-color: color-mix(in oklab, var(--text) 25%, transparent);
}

.myt-card.myt-card--disabled,
.myt-card[disabled],
.myt-card:disabled {
	pointer-events: none;
	user-select: none;
	color: color-mix(in oklab, var(--shadow) 25%, transparent) !important;
}
.myt-card.myt-card--disabled.myt-card--outline,
.myt-card[disabled].myt-card--outline,
.myt-card:disabled.myt-card--outline {
	border-color: color-mix(in oklab, var(--shadow) 25%, transparent) !important;
}

.myt-card.myt-card--disabled:not(.myt-card--text)::before,
.myt-card[disabled]:not(.myt-card--text)::before,
.myt-card:disabled:not(.myt-card--text)::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: color-mix(in oklab, var(--shadow) 8%, transparent) !important;
	z-index: 100;
	border-radius: var(--rounded-lg);
}
