.myt-toolbar-title {
	flex: 1 1;
	font-size: 1.25rem;
	min-width: 0;
}

.myt-toolbar-title {
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.75rem;
	text-transform: none;
}

.myt-toolbar-title .myt-toolbar-title--placeholder {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
