.myt-icon {
	--c-color: var(--text);
}

.myt-icon {
	align-items: center;
	display: inline-flex;
	height: 1em;
	justify-content: center;
	letter-spacing: normal;
	line-height: 1;
	position: relative;
	text-indent: 0;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
	width: 1em;
	min-width: 1em;
	color: var(--c-color);
}

.myt-icon.myt-icon--size-x-small {
	font-size: 1em;
}

.myt-icon.myt-icon--size-small {
	font-size: 1.25em;
}

.myt-icon.myt-icon--size-default {
	font-size: 1.5em;
}

.myt-icon.myt-icon--size-large {
	font-size: 1.75em;
}

.myt-icon.myt-icon--size-x-large {
	font-size: 2em;
}

.myt-icon > svg,
.myt-icon > img {
	fill: currentColor;
	width: 100%;
	height: 100%;
}

.myt-icon.myt-icon--start {
	margin-inline-end: 8px;
}

.myt-icon.myt-icon--end {
	margin-inline-start: 8px;
}

.myt-icon.myt-icon--disabled {
	pointer-events: none;
	opacity: 0.38;
}
