.myt-menu-content {
	--color: var(--myt-color-on-surface-variant);
	--background: var(--myt-color-surface-variant);

	inset: 0px auto auto 0px;
	margin: 0px;
	position: fixed;
	z-index: 9999;
	background: var(--background);
	color: var(--color);
	border-radius: var(--myt-shape-corner-md);
	display: inline-block;
	width: auto;
	opacity: 1;
	transition-property: opacity, transform;
}
