.myt-system-bar {
	--color: var(--myt-color-on-surface-variant);
	--background: var(--myt-color-surface-variant);

	font-size: 0.75rem;
	font-weight: 400;
	letter-spacing: 0.0333333333em;
	line-height: 1.667;
	text-transform: none;
}

.myt-system-bar {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	height: 24px;
	justify-content: flex-end;
	max-width: 100%;
	padding-inline: 8px;
	position: relative;
	text-align: end;
	width: 100%;
	color: var(--color);
	background-color: var(--background);
}

.myt-system-bar.myt-system-bar--window {
	height: 32px;
}

.myt-system-bar.myt-system-bar--absolute {
	position: absolute;
}

.myt-system-bar.myt-system-bar--fixed {
	position: fixed;
}

.myt-system-bar:not(.myt-system-bar--absolute) {
	padding-inline-end: 8px;
}
