.myt-bottom-navigation {
	--c-color: var(--myt-color-on-surface-variant);
	--c-background-color: var(--myt-color-surface-variant);
	--c-rounded: var(--myt-shape-corner-none);
}

.myt-bottom-navigation {
	bottom: 0px;
	z-index: 900;
	transform: translateY(0px);
	left: 0px;
	width: calc(100% + 0px);
	color: var(--c-color);
	background-color: var(--c-background-color);
	border-radius: var(--c-rounded);
}

.myt-bottom-navigation.myt-bottom-navigation--hidden {
	display: none;
	transition:
		transform,
		color,
		0.2s,
		0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.myt-bottom-navigation {
	display: flex;
	max-width: 100%;
	overflow: hidden;
	position: fixed;
	transition:
		transform,
		color,
		0.2s,
		0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.myt-bottom-navigation .myt-bottom-navigation--content {
	display: flex;
	flex: none;
	font-size: 0.75rem;
	justify-content: center;
	transition: inherit;
	width: 100%;
}

/**Btn**/

.myt-bottom-navigation--content > .myt-btn {
	--c-btn-size: 0.875rem !important;
	--c-btn-height: 72px !important;
	--c-icon-size-multiplier: 1.15 !important;
	padding: 0 16px;

	grid-template-areas:
		'prepend'
		'content'
		'append';
	grid-template-columns: auto;
	grid-template-rows: max-content max-content max-content;
	justify-items: center;
	align-content: center;

	border-radius: 0;
	font-size: inherit;
	height: 100% !important;
	max-width: 168px;
	min-width: 80px !important;
	text-transform: none;
	transition: inherit;
	width: auto;
}

.myt-bottom-navigation--content > .myt-btn > .myt-btn--content {
	flex-direction: column;
	line-height: 1.25;
	white-space: normal;
	transition: inherit;
}

.myt-bottom-navigation.myt-bottom-navigation--grow .myt-bottom-navigation--content > .myt-btn {
	flex-grow: 1;
}

.myt-bottom-navigation.myt-bottom-navigation--shift
	.myt-bottom-navigation--content
	> .myt-btn:not(.myt-btn--active)
	.myt-btn--content
	> span {
	transition: inherit;
	opacity: 0;
}

.myt-bottom-navigation.myt-bottom-navigation--shift
	.myt-bottom-navigation--content
	> .myt-btn:not(.myt-btn--active)
	.myt-btn--content {
	transform: translateY(0.5rem);
}
