.myt-alert {
	--c-color: var(--myt-color-on-surface-variant);
	--c-background-color: var(--myt-color-surface-variant);
	--c-rounded: var(--myt-shape-corner-md);
}

.myt-alert {
	display: grid;
	flex: 1 1;
	grid-template-areas:
		'prepend content append close'
		'. content . .';
	grid-template-columns: max-content auto max-content max-content;
	position: relative;
	padding: 16px;
	overflow: hidden;
	color: var(--c-color);
	border-radius: var(--c-rounded);
}

.myt-alert .myt-alert--underlay {
	grid-area: none;
	position: absolute;
	background-color: var(--c-background-color);
	border-radius: inherit;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.myt-alert.myt-alert--outlined {
	border: thin solid currentColor;
}

.myt-alert {
	border-radius: 4px;
}

.myt-alert--density-default {
	padding-bottom: 16px;
	padding-top: 16px;
}
.myt-alert--density-comfortable {
	padding-bottom: 12px;
	padding-top: 12px;
}
.myt-alert--density-compact {
	padding-bottom: 8px;
	padding-top: 8px;
}

.myt-alert .myt-alert--prepend {
	align-self: flex-start;
	display: flex;
	align-items: center;
	grid-area: prepend;
	margin-inline-end: 16px;
}

.myt-alert .myt-alert--content {
	align-self: center;
	grid-area: content;
	overflow: hidden;
}

.myt-alert .myt-alert--close {
	align-self: flex-start;
	margin-inline-start: 16px;
	flex: 0 1 auto;
	grid-area: close;
}

.myt-alert.myt-alert--variant-tonal {
	padding-inline-start: 24px;
}

.myt-alert .myt-alert--border {
	border-inline-start-width: 8px !important;
	border-color: var(--c-color);
	border-style: solid;
	border-width: 0;
	border-radius: inherit;
	bottom: 0;
	left: 0;
	opacity: 1;
	position: absolute;
	pointer-events: none;
	right: 0;
	top: 0;
	width: 100%;
}

.myt-alert.myt-alert--info:not(.myt-alert--outlined) {
	--c-color: var(--myt-color-on-info);
	--c-background-color: var(--myt-color-info);
}
.myt-alert.myt-alert--info.myt-alert--outlined {
	--c-color: var(--myt-color-info);
}
.myt-alert.myt-alert--info.myt-alert--variant-tonal {
	--c-background-color: var(--myt-color-info-container);
	--c-color: var(--myt-color-on-info-container);
}

.myt-alert.myt-alert--success:not(.myt-alert--outlined) {
	--c-color: var(--myt-color-on-success);
	--c-background-color: var(--myt-color-success);
}
.myt-alert.myt-alert--success.myt-alert--outlined {
	--c-color: var(--myt-color-success);
}
.myt-alert.myt-alert--success.myt-alert--variant-tonal {
	--c-background-color: var(--myt-color-success-container);
	--c-color: var(--myt-color-on-success-container);
}

.myt-alert.myt-alert--warning:not(.myt-alert--outlined) {
	--c-color: var(--myt-color-on-warning);
	--c-background-color: var(--myt-color-warning);
}
.myt-alert.myt-alert--warning.myt-alert--outlined {
	--c-color: var(--myt-color-warning);
}
.myt-alert.myt-alert--warning.myt-alert--variant-tonal {
	--c-background-color: var(--myt-color-warning-container);
	--c-color: var(--myt-color-on-warning-container);
}

.myt-alert.myt-alert--error:not(.myt-alert--outlined) {
	--c-color: var(--myt-color-on-error);
	--c-background-color: var(--myt-color-error);
}
.myt-alert.myt-alert--error.myt-alert--outlined {
	--c-color: var(--myt-color-error);
}
.myt-alert.myt-alert--error.myt-alert--variant-tonal {
	--c-background-color: var(--myt-color-error-container);
	--c-color: var(--myt-color-on-error-container);
}
