/* .myt-tooltip {
	--background-color: black;
	--color: white;
	position: relative;
	display: inline-block;
	text-align: center;
}

.myt-tooltip:before {
	white-space: normal;
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	background-color: var(--background-color);
	color: var(--color);
	width: max-content;
	max-width: 120px;
	word-wrap: break-word;
}

.myt-tooltip:before {
	position: absolute;
	pointer-events: none;
	z-index: 1;
	content: attr(data-title);
}

.myt-tooltip:before {
	transform: translate(-50%);
	top: auto;
	left: 50%;
	right: auto;
	bottom: calc(100% + 1px + 0.1875rem);
}

.myt-tooltip:before,
.myt-tooltip:after {
	opacity: 0;
	transition-property:
		color,
		background-color,
		border-color,
		text-decoration-color,
		fill,
		stroke,
		opacity,
		box-shadow,
		transform,
		filter,
		-webkit-backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
		opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property:
		color,
		background-color,
		border-color,
		text-decoration-color,
		fill,
		stroke,
		opacity,
		box-shadow,
		transform,
		filter,
		backdrop-filter,
		-webkit-backdrop-filter;
	transition-delay: 0.1s;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.myt-tooltip:after {
	position: absolute;
	content: '';
	border-style: solid;
	border-width: 0.1875rem;
	width: 0;
	height: 0;
	display: block;
}

.myt-tooltip:after {
	transform: translate(-50%);
	border-color: var(--background-color) transparent transparent transparent;
	top: auto;
	left: 50%;
	right: auto;
	bottom: calc(100% + 0.0625rem - 0.1875rem);
}

.myt-tooltip:hover:before,
.myt-tooltip:hover:after {
	opacity: 1;
	transition-delay: 75ms;
} */

/* .myt-tooltip:hover .tooltip-content {
	opacity: 1;
	transition-delay: 75ms;
} */

.myt-tooltip {
	--background-color: black;
	--color: white;
	position: relative;
	display: inline-block;
	text-align: center;
}

.myt-tooltip .tooltip-content.myt-tooltip-content--display {
	opacity: 1;
	transition-delay: 75ms;
}

.tooltip-content {
	position: absolute;
	pointer-events: none;
	z-index: 1;
	background-color: var(--background-color);
	color: var(--color);
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	width: max-content;
	max-width: 120px;
	word-wrap: break-word;
	opacity: 0;
	transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transform: translate(-50%);
	top: auto;
	left: 50%;
	right: auto;
	bottom: calc(100% + 1px + 0.1875rem);
}

.tooltip-example {
	position: fixed;
	z-index: 9999;
	background-color: black;
	color: white;
	margin: 4px 6px;
	border-radius: 10px;
}
