.myt-tooltip-content {
	background: var(--surface-variant);
	color: var(--text-variant);
}

.myt-tooltip-content {
	inset: 0px auto auto 0px;
	margin: 0px;
	position: fixed;
	z-index: 9999;
	background: var(--surface-variant);
	color: var(--text-variant);
	border-radius: 4px;
	font-size: 0.875rem;
	line-height: 1.6;
	display: inline-block;
	padding: 5px 16px;
	text-transform: initial;
	width: auto;
	opacity: 1;
	pointer-events: none;
	transition-property: opacity, transform;
	overflow-wrap: break-word;
	max-width: 300px;
}
