.myt-list-item {
	min-height: 48px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.myt-list-item {
	align-items: center;
	display: grid;
	flex: none;
	grid-template-areas: 'prepend content append activator';
	grid-template-columns: max-content 1fr auto auto;
	outline: none;
	max-width: 100%;
	padding: 4px 16px;
	position: relative;
	text-decoration: none;
}

a.myt-list-item {
	color: inherit;
	text-decoration: none;
}

.myt-list-item.myt-list-item--link {
	cursor: pointer;
}

.myt-list-item.myt-list-item--link:hover {
	background-color: color-mix(in oklab, var(--background) 90%, black);
}

/* .myt-list-item.myt-list-item--link:focus {
	background-color: color-mix(in oklab, var(--c-background-color) 95%, black);
} */

.myt-list-item.myt-list-item--link:active,
.myt-list-item.myt-list-item--link.myt-list-item--active,
.myt-list-item.myt-list-group--activator.myt-list-group--active {
	background-color: color-mix(in oklab, var(--background) 95%, black);
}

.myt-list-item .myt-list-item--content {
	align-self: center;
	grid-area: content;
	overflow: hidden;
}

.myt-list-item .myt-list-item--prepend {
	align-items: center;
	align-self: center;
	display: flex;
	grid-area: prepend;
}

.myt-list-item .myt-list-item--append {
	align-self: center;
	display: flex;
	align-items: center;
	grid-area: append;
}

.myt-list-item .myt-list-item--activator {
	align-self: center;
	display: flex;
	align-items: center;
	grid-area: activator;
}

.myt-list-item .myt-list-item--prepend > .myt-icon {
	margin-right: 18px;
}

.myt-list-item .myt-list-item--append > .myt-icon {
	margin-left: 18px;
}
